@import '../../styles/mixins/_flexbox';
@import '../../styles/mixins/_query';

body {
  margin: 0;
  font-family: 'PT Sans';
}

.profile {
  position: relative;
  @include flexbox(center, center, column, 80px);

  height: 100vh;
  display: flex;

  @include query(max, tablet) {
    gap: 30px;
  }

  &__avatarContainer {
    position: relative;
  }

  &__rating {
    position: absolute;
    top: 0;
    right: -100px;
    @include flexbox(center, center, column, 10px);

    @include query(max, tablet) {
      position: static;
      margin-top: 20px;
    }

    img {
      width: 50px;
    }

    p {
      color: #fff;
      font-size: 32px;
    }
  }

  &__backBtn {
    position: absolute;
    top: 20vh;
    left: 10vw;

    @include query(max, tablet) {
      position: static;
    }

    img {
      width: 110px;

      &:hover {
        opacity: 0.6;
        cursor: pointer;
      }
    }
  }

  &__contentBlock {
    @include flexbox(initial, start, column, 30px);
    width: 100%;
    max-width: 530px;

    div {
      width: 100%;
    }
  }
}
