@import '../../styles/mixins/_flexbox';
@import '../../styles/mixins/_query';

body {
  margin: 0;
  font-family: 'PT Sans';
}

.wrapper {
  position: relative;
  @include flexbox(center, center, column, 80px);

  background-image: url(./images/bg.png);
  height: 100vh;
  display: flex;

  @include query(max, tablet) {
    gap: 30px;
  }

  .avatarContainer {
    position: relative;

    .avatar {
      max-width: 270px;
      width: 100%;
    }

    .rating {
      position: absolute;
      top: 0;
      right: -100px;
      @include flexbox(center, center, column, 10px);

      @include query(max, tablet) {
        position: static;
        margin-top: 20px;
      }

      img {
        width: 50px;
      }

      p {
        color: #fff;
        font-size: 32px;
      }
    }
  }

  .back {
    position: absolute;
    top: 20vh;
    left: 10vw;

    @include query(max, tablet) {
      position: static;
    }

    img {
      width: 110px;

      &:hover {
        opacity: 0.6;
        cursor: pointer;
      }
    }
  }

  .contentBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 530px;

    .paragraph {
      color: #f0f0f0;
      font-size: 32px;
      margin: 0 0 20px 0;
      width: 100%;

      padding-bottom: 27px;
      border-bottom: 1px solid #fff;
    }

    .settingsBtns {
      @include flexbox(space-between, initial, row, 30px);
      width: 100%;

      .button {
        background-color: transparent;
        border: none;
        color: white;
        font-size: 18px;

        cursor: pointer;

        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}
