{
  "bracketSameLine": true,
  "width": 50,
  "arrowParens": "always",
  "bracketSpacing": false,
  "jsxSingleQuote": true,
  "jsxBracketSameLine": true,
  "singleAttributePerLine": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "useTabs": true,
  "printWidth": 90,
  "endOfLine": "auto"
}
