@import '../../../styles/vars';

.wrapper {
  background-color: $gray300;
  height: 50px;
  width: 80%;
  margin: 35px auto;
  border-radius: 10px;
  list-style: none;
  display: flex;

  .iconArea {
    width: 9%;
    height: 100%;
    border-right: 2px solid rgba(128, 128, 128, 0.2);

    .icon {
      width: 30px;
      padding: 12px 0 12px 12px;
    }
  }

  .personalArea {
    width: 80%;
    display: flex;
    align-items: center;

    .photo {
      width: 40px;
      border-radius: 50%;
      border: 1px solid grey;
      margin-left: 10px;
    }

    .name {
      margin-left: 15px;
    }
  }

  .scoreArea {
    width: 10%;
  }
}
