@import '../../../styles/vars';

.wrapper {
  background-color: $gray100;
  height: 50px;
  width: 80%;
  margin: 35px auto;
  border-radius: 10px;
  list-style: none;
  display: flex;

  .iconArea {
    width: 9%;
    height: 100%;
    border-right: 2px solid rgba(128, 128, 128, 0.2);
    position: relative;

    .icon {
      width: 30px;
      padding: 11px 0 11px 12px;
    }

    .positionNumber {
      position: absolute;
      top: 18px;
      left: 23px;
      color: $gray500;
      font-size: 12px
    }
  }

  .personalArea {
    width: 80%;
    display: flex;
    align-items: center;

    .photo {
      width: 40px;
      border-radius: 50%;
      border: 1px solid grey;
      margin-left: 10px;
    }

    .name {
      margin-left: 15px;
    }
  }

  .scoreArea {
    width: 10%;
    border-left: 2px solid rgba(128, 128, 128, 0.2);
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
  }

  .hidden {
    display: none;
  }
}
