@import "../../../styles/vars.scss";

.wrapper {
  margin: 0 auto;
  background-color: $primary500;
  min-height: 100vh;
  overflow: auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;



}
