$fontFamily: Lato, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// Display S
$fontSizeDisplayS: 22px;
$lineHeightDisplayS: 28px;

$fontRegularDisplayS: 400 $fontSizeDisplayS $fontFamily;
$fontMediumDisplayS: 500 $fontSizeDisplayS $fontFamily;
$fontSemiBoldDisplayS: 600 $fontSizeDisplayS $fontFamily;
$fontBoldDisplayS: 700 $fontSizeDisplayS $fontFamily;

// Display XS
$fontSizeDisplayXS: 20px;
$lineHeightDisplayXS: 26px;

$fontRegularDisplayXS: 400 $fontSizeDisplayXS $fontFamily;
$fontMediumDisplayXS: 500 $fontSizeDisplayXS $fontFamily;
$fontSemiBoldDisplayXS: 600 $fontSizeDisplayXS $fontFamily;
$fontBoldDisplayXS: 700 $fontSizeDisplayXS $fontFamily;

// XL
$fontSizeXL: 18px;
$lineHeightXL: 26px;

$fontRegularXL: 400 $fontSizeXL $fontFamily;
$fontMediumXL: 500 $fontSizeXL $fontFamily;
$fontSemiBoldXL: 600 $fontSizeXL $fontFamily;
$fontBoldXL: 700 $fontSizeXL $fontFamily;

// LG
$fontSizeLG: 16px;
$lineHeightLG: 24px;

$fontRegularLG: 400 $fontSizeLG $fontFamily;
$fontMediumLG: 500 $fontSizeLG $fontFamily;
$fontSemiBoldLG: 600 $fontSizeLG $fontFamily;
$fontBoldLG: 700 $fontSizeLG $fontFamily;

// MD
$fontSizeMD: 15px;
$lineHeightMD: 22px;

$fontRegularMD: 400 $fontSizeMD $fontFamily;
$fontMediumMD: 500 $fontSizeMD $fontFamily;
$fontSemiBoldMD: 600 $fontSizeMD $fontFamily;
$fontBoldMD: 700 $fontSizeMD $fontFamily;

// S
$fontSizeS: 14px;
$lineHeightS: 20px;

$fontRegularS: 400 $fontSizeS $fontFamily;
$fontMediumS: 500 $fontSizeS $fontFamily;
$fontSemiBoldS: 600 $fontSizeS $fontFamily;
$fontBoldS: 700 $fontSizeS $fontFamily;

// XS
$fontSizeXS: 12px;
$lineHeightXS: 18px;

$fontRegularXS: 400 $fontSizeXS $fontFamily;
$fontMediumXS: 500 $fontSizeXS $fontFamily;
$fontSemiBoldXS: 600 $fontSizeXS $fontFamily;
$fontBoldXS: 700 $fontSizeXS $fontFamily;
