$black: rgb(0 0 0);
$white: #ffffff;
$whiteSoft: #f0f0f0;

$gray100: #f4f4f5;
$gray200: #e4e4e7;
$gray300: #d4d4d8;
$gray400: #a1a1aa;
$gray500: #71717a;
$gray600: #52525b;
$gray700: #3f3f46;
$gray800: #27272a;
$gray900: #18181b;

$primary500: #6b88fe;
$primary500-dark: #35447f;

$red500: #ff6262;

$background: #e4e4e7;
$text: #27272a;
$border: #a1a1aa;
$transparent: rgba(0, 0, 0, 0);

$link: #666;
$hoverLink: #161919;
$shadow: rgba(0, 0, 0, 0.2);

:root {
  --background: #e4e4e7;
  --white: #ffffff;
  & .light {
    --primary500: #6b88fe;
    --red: #36981D;
  }
  & .dark {
    --primary500: #35447f;
    --red: #256a14;
  }
}
