.main-page {
  background-image: url(./../../assets/background.png);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-page__container {
  background-color: #fff;
  width: 50%;
  height: 100%;
}
